/* div#main {
  display: grid;
  background-color: rgb(224, 224, 224);
  width: 35%;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
} */
/*
#Form_Group {
  margin: 0 0 10px;
}
input[type="text"] {
  padding-right: 0px;
  width: 60%;
  float: right;
}
#TieuDeDauTien h2 {
  margin-top: -10px;
}
#TieuDeDauTien hr {
  margin-top: -20px;
}
#ReportsTo {
  margin-left: 110px;
}
#Form_Group1 {
  display: flex;
}
#Form_Group1 #radio_Group {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  width: 65%;
  margin-right: 10px;
}

#Form_Group1 label {
  display: flex;
}
#GioiTinh {
  line-height: 5;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
}
hr {
  margin: 10px 0;
} */

* {
  margin: 0;
}
#main {
  width: 50%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 25px;
  background-color: rgb(255, 253, 251);
  border: 4px solid gray;
}
#Form_Group {
  display: grid;
  grid-template-columns: 200px auto;
  margin-top: 12px;
}
#radio_Group {
  display: flex;
  flex-direction: column;
}
#GioiTinh,
#Notes,
#Areyouhuman {
  line-height: 5;
}
label {
  font-weight: bold;
}
#TieuDeThuHai {
  margin-top: 12px;
}
@font-face {
  font-family: "Dotimatrix 5";
  src: url("/Code/font/dotimatrix/Dotimatrix/dotim5__.ttf") format("truetype");
}

#TIDAWO {
  font-family: "Dotimatrix 5", sans-serif;
  font-size: 40px;
}
#Form_TIDAWO {
  display: flex;
  flex-direction: column;
}
#ClickToChange {
  text-align: center;
}
.inputClickToChange {
  margin-bottom: 25px;
  margin-top: 5px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 10px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#arrow-container {
  display: flex;
  margin-top: 10px;
}
#button-container {
  display: flex;
  margin-left: 520px;
  gap: 25px;
}
.btn-submit {
  margin-left: 15px;
}
